html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

/* automatic size vw */
/* automatic size vh */
/* text clamp */
/* anime In order */
.user-photo {
  width: 120px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 100%;
}

.bg-danger {
  background-color: #84b6a2 !important;
}

.navbar {
  max-height: 90px;
  background-color: #fff !important;
}

.img-fluid {
  width: 170px;
}

.navbar .container {
  max-width: 1200px;
}

.navbar-nav .nav-link,
.navbar-nav .show > .nav-link {
  font-size: 18px;
  color: black;
  padding: 5px 24px !important;
}

.masthead {
  height: 100%;
  min-height: 500px;
  background-image: url("../../assets/images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.masthead .container {
  max-width: 1464px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  padding: 45px 20px;
}

.masthead .container .row .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left !important;
}

.masthead .container .row .col-12 .fw-light {
  max-width: 600px;
  margin-bottom: 60px;
  color: #489a73;
  font-size: 40px;
  font-weight: 600 !important;
  line-height: 55px;
}

.masthead .container .row .col-12 .lead {
  max-width: 600px;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.masthead .container .row .col-12 .btn-booking {
  width: 192px;
  height: 48px;
  border: 1px solid #00977b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 30px;
  font-weight: 700;
  background: #fff;
  font-size: 18px;
  line-height: 19px;
  -webkit-transition: all 350ms ease-out 0s;
  transition: all 350ms ease-out 0s;
  color: #00977b !important;
}

.masthead .container .row .col-12 .btn-booking:hover {
  border: 1px solid #00977b;
  background: #00977b;
  color: white !important;
}

.section-v1 {
  margin-bottom: 90px;
}

.section-v1 .ttl {
  text-align: center;
  margin-bottom: 90px;
}

.section-v1 .ttl h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  white-space: pre-wrap;
  text-align: center;
  background-clip: text;
  margin-bottom: 87px;
}

.section-v1 .ttl h2 span {
  color: #3bad74;
}

.section-v1 .container {
  max-width: 1464px;
  width: 100%;
}

.section-v1 .container .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 40px;
}

.section-v1 .container .row .col img {
  max-width: 120px;
  max-height: 120px;
  margin-bottom: 15px;
}

.section-v1 .container .row .col h3 {
  font-size: 18px;
  line-height: 30px;
}

.section-v1 .container .row .col h3 .color {
  color: #0d6efd;
}

.section-v1 .container .row .col .intro-description {
  font-size: 14px;
  color: #6c757d;
  line-height: 22px;
}

.nav-tabs .nav-item .nav-link {
  font-size: 18px;
  font-weight: 600;
  color: #b8b3ac;
}

.nav-tabs .nav-item .nav-link.active {
  color: #01ad70;
}

/* slick slider */
.section-v2 {
  position: relative;
}

.section-v2 .section-img {
  position: absolute;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body,
input,
button,
textarea,
select {
  outline: none;
  font-size: 12px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

input {
  line-height: normal;
}

button {
  cursor: pointer;
}

.section-v2 .inner {
  padding-bottom: 50px;
  margin: 0;
  width: 100%;
  padding-left: 560px;
  margin-bottom: 160px;
  padding-top: 160px;
}

.section-v2 .ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 700px;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-v2 .ttl h3 {
  font-size: 30px;
  font-weight: 500;
}

.section-v2 .ttl p {
  font-size: 16px;
}

.section-v2 .ttl p a {
  color: #3763af;
}

.image {
  height: 350px;
  margin-bottom: 20px;
}

.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.image-title {
  font-size: 20px;
  color: #8e8fb5;
}

.slick-initialized .slick-slide {
  margin: 0 10px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.slick-arrow:hover {
  background-color: #2cccff;
  color: white;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 20px;
}

.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: #eee;
  border: none;
  outline: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.slick-dots .slick-active button {
  background-color: #2cccff;
}

/* section v3 */
.section-v3 {
  max-width: 1464px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 80px;
}

.section-v3 .container-fluid .ttl {
  text-align: center;
}

.section-v3 .container-fluid .ttl h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 50px;
}

.section-v3 .container-fluid .ttl h2 p {
  margin-bottom: 0;
  color: #3bad74;
  font-size: 25px;
}

.section-v3 .container-fluid .row .col-sm-3 .thumbnail img {
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px 16px 0px 0px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 15px;
}

.section-v3 .container-fluid .row .col-sm-3 .thumbnail .caption {
  font-size: 20px;
  line-height: 25px;
  color: #000;
  font-weight: 500;
}

#booking .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  #booking .container {
    margin-bottom: get_pc(80);
  }
}
@media (max-width: 768px) {
  #booking .container {
    margin-bottom: get_sp(80);
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
#booking .container .item_booking {
  padding: 100px 120px 0 0;
  width: 50%;
  text-align: left;
}
@media (max-width: 1024px) {
  #booking .container .item_booking {
    padding: get_pc(100) get_pc(120) 0 0;
  }
}
@media (max-width: 768px) {
  #booking .container .item_booking {
    text-align: center;
    width: 100%;
    padding: 0;
  }
}
#booking .container .item_booking .title {
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  #booking .container .item_booking .title {
    margin-bottom: get_pc(10);
  }
}
@media (max-width: 768px) {
  #booking .container .item_booking .title {
    margin-bottom: get_sp(10);
  }
}
#booking .container .item_booking .title h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 54px;
  line-height: 80px;
}
@media (max-width: 1024px) {
  #booking .container .item_booking .title h2 {
    font-size: get_pc(54);
    line-height: get_pc(80);
  }
}
@media (max-width: 768px) {
  #booking .container .item_booking .title h2 {
    font-size: get_sp(54);
    line-height: get_sp(80);
  }
}
#booking .container .item_booking .txt_desp {
  margin-bottom: 45px;
}
@media (max-width: 1024px) {
  #booking .container .item_booking .txt_desp {
    margin-bottom: get_pc(45);
  }
}
@media (max-width: 768px) {
  #booking .container .item_booking .txt_desp {
    margin-bottom: get_sp(45);
  }
}
#booking .container .item_booking .txt_desp p {
  line-height: 25px;
  font-size: 18px;
}
@media (max-width: 1024px) {
  #booking .container .item_booking .txt_desp p {
    line-height: get_pc(25);
    font-size: get_pc(18);
  }
}
@media (max-width: 768px) {
  #booking .container .item_booking .txt_desp p {
    line-height: get_sp(25);
    font-size: get_sp(18);
  }
}
#booking .container .item_booking .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  #booking .container .item_booking .content {
    margin-bottom: get_pc(15);
  }
}
@media (max-width: 768px) {
  #booking .container .item_booking .content {
    margin-bottom: get_sp(15);
  }
}
#booking .container .item_booking .content .item_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  width: 48.8888%;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media (max-width: 1024px) {
  #booking .container .item_booking .content .item_content {
    margin-bottom: get_pc(25);
    padding: get_pc(20);
    border-radius: get_pc(10);
  }
}
@media (max-width: 768px) {
  #booking .container .item_booking .content .item_content {
    margin-bottom: get_sp(25);
    padding: get_sp(20);
    border-radius: get_sp(10);
  }
}
#booking .container .item_booking .content .item_content .item_thumb {
  background: #1a79e9;
  margin-right: 15px;
  padding: 8px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  #booking .container .item_booking .content .item_content .item_thumb {
    margin-right: get_pc(15);
    padding: get_pc(8);
    border-radius: get_pc(10);
  }
}
@media (max-width: 768px) {
  #booking .container .item_booking .content .item_content .item_thumb {
    margin-right: get_sp(15);
    padding: get_sp(8);
    border-radius: get_sp(10);
  }
}
#booking .container .item_booking .content .item_content .item_thumb img {
  width: 50px;
}
@media (max-width: 1024px) {
  #booking .container .item_booking .content .item_content .item_thumb img {
    width: get_pc(50);
  }
}
@media (max-width: 768px) {
  #booking .container .item_booking .content .item_content .item_thumb img {
    width: get_sp(50);
  }
}
#booking .container .item_booking .content .item_content .txt_desp {
  display: contents;
}
#booking .container .item_booking .content .item_content .txt_desp p {
  line-height: 25px;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 1024px) {
  #booking .container .item_booking .content .item_content .txt_desp p {
    line-height: get_pc(25);
    font-size: get_pc(18);
  }
}
@media (max-width: 768px) {
  #booking .container .item_booking .content .item_content .txt_desp p {
    line-height: get_sp(25);
    font-size: get_sp(18);
  }
}
#booking .container .item_booking .btn {
  text-align: center;
}
#booking .container .item_booking .btn button {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #5396ec 0%, #83f0f0 50%, #16a2ac 100%);
  background: -webkit-gradient(linear, left top, right top, from(#5396ec), color-stop(50%, #83f0f0), to(#16a2ac));
  background: linear-gradient(to right, #5396ec 0%, #83f0f0 50%, #16a2ac 100%);
  background-size: 500%;
  border: none;
  border-radius: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  color: white;
  cursor: pointer;
  font: 1.5em Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 70px;
  letter-spacing: 1.5;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20rem;
}
#booking .container .item_booking .btn button:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes gradient {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100%;
  }
}
@keyframes gradient {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100%;
  }
}
#booking .container .item_booking .btn button a {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 1024px) {
  #booking .container .item_booking .btn button a {
    font-size: get_pc(24);
  }
}
@media (max-width: 768px) {
  #booking .container .item_booking .btn button a {
    font-size: get_sp(24);
  }
}

.navbar-nav .nav-item .btn-light {
  margin: 0 !important;
  margin-left: 100px !important;
}
.navbar-nav .nav-item .dropdown {
  border: 1px solid #dddddd;
  display: none;
  position: absolute;
  background-color: #ffff;
  list-style: none;
  margin-left: 100px !important;
}
.navbar-nav .nav-item .dropdown .dropdown_item {
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
}
.navbar-nav .nav-item .dropdown .dropdown_item a {
  font-size: 18px;
  color: #9d9d9d;
}
.navbar-nav .nav-item .dropdown .dropdown_item a:hover {
  color: #000;
}
.navbar-nav .nav-item .dropdown .dropdown_item:last-child {
  border-bottom: 0;
}
.navbar-nav .nav-item .dropdown .dropdown_item:hover {
  background-color: #babebe;
  color: white;
}
.navbar-nav .nav-item:hover .dropdown {
  display: block;
}

footer#footer .container {
  border-top: 1px solid #f3f5f9;
  background-color: #3ab58a;
  padding: 30px 0 0;
  color: #fff;
}
footer#footer .container > .inner {
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}
footer#footer .container > .inner .address {
  margin-bottom: 30px;
}
footer#footer .container > .inner .address .logo {
  margin-bottom: 30px;
}
footer#footer .container > .inner .address .logo img {
  width: 204px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 90px;
}
footer#footer .container > .inner .address .item_content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
footer#footer .container > .inner .address .item_content ul li i {
  margin-right: 10px;
  color: #fff;
}
footer#footer .container > .inner .address .item_content ul li p {
  color: #4b566b;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
footer#footer .container > .inner .about_us {
  margin-bottom: 30px;
}
footer#footer .container > .inner .about_us .title {
  margin-bottom: 25px;
}
footer#footer .container > .inner .about_us .title h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
footer#footer .container > .inner .about_us ul li {
  margin-bottom: 10px;
  list-style: none;
}
footer#footer .container > .inner .about_us ul li a {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}
footer#footer .container > .inner .contact {
  margin-bottom: 30px;
}
footer#footer .container > .inner .contact .hotline {
  margin-bottom: 25px;
}
footer#footer .container > .inner .contact .hotline .title {
  margin-bottom: 25px;
}
footer#footer .container > .inner .contact .hotline .title h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
footer#footer .container > .inner .contact .hotline .item_thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
footer#footer .container > .inner .contact .hotline .item_thumb i {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
}
footer#footer .container > .inner .contact .hotline .item_thumb p {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
footer#footer .container > .inner .contact .hotline .txt_desp p {
  font-size: 16px;
  color: #fff;
}
footer#footer .container .copyright {
  padding: 25px 0;
  background-color: #34a37c;
}
footer#footer .container .copyright .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer#footer .container .copyright .inner .txt_desp p {
  font-size: 12px;
  color: #fff;
}
footer#footer .container .copyright .inner .item_thumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer#footer .container .copyright .inner .item_thumb ul li {
  margin-right: 10px;
  list-style: none;
}
footer#footer .container .copyright .inner .item_thumb ul li img {
  height: 40px;
}

.bs-example .modal .modal-dialog {
  max-width: 1000px !important;
}
.bs-example .modal .modal-dialog .modal-content {
  background: linear-gradient(22deg, #020024 0%, #51b587 0%, #fff9f9 100%);
}
.bs-example .modal .modal-dialog .modal-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bs-example .modal .modal-dialog .modal-inner .modal-body {
  width: 50%;
}
.bs-example .modal .modal-dialog .modal-inner .modal-body .row .col-12 .mb-3 .item-thumb {
  max-width: 515px;
  width: 100%;
}
.bs-example .modal .modal-dialog .modal-inner .modal-body .modal-footer .btn {
  background-color: #02940c;
  color: #fff;
}
.bs-example .modal .modal-dialog .modal-inner .modal-body .modal-footer .btn:hover {
  border-color: #02940c;
  -webkit-box-shadow: 0 14px 28px #0c814bcc;
          box-shadow: 0 14px 28px #0c814bcc;
}

.news > .inner {
  max-width: 1200px;
  width: 88.88%;
  margin: 0 auto 80px;
  padding: 5% 30px 0;
}
.news > .inner .ttl {
  text-align: left;
  margin-bottom: 30px;
}
.news > .inner .ttl h3 {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: red;
}
.news > .inner .list_item {
  list-style: none;
}
.news > .inner .list_item .item_content {
  padding: 20px 0;
  border-bottom: 1px solid #dddddd;
}
.news > .inner .list_item .item_content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news > .inner .list_item .item_content a img {
  width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 110px;
  margin-right: 15px;
}
.news > .inner .list_item .item_content a p {
  color: #000;
  font-size: 20px;
  line-height: 30px;
}
.news > .inner .list_item .item_content:first-child {
  border-top: 1px solid #dddddd;
}

#wrapper.new_detail > .inner {
  max-width: 1200px;
  width: 88.88%;
  margin: 0 auto 80px;
  padding: 5% 30px 0;
}
#wrapper.new_detail > .inner .ttl {
  text-align: left;
  margin-bottom: 30px;
}
#wrapper.new_detail > .inner .ttl h3 {
  font-size: 34px;
  font-weight: 600;
}
#wrapper.new_detail > .inner .txt_desp {
  text-align: left;
  line-height: 25px;
}
#wrapper.new_detail > .inner .txt_desp img {
  width: 100%;
  margin-bottom: 30px;
}
#wrapper.new_detail > .inner .txt_desp p {
  font-size: 16px;
  line-height: 30px;
}
#wrapper.new_detail > .inner .txt_desp h4 {
  font-weight: 600;
}
#wrapper.new_detail > .inner .txt_desp h3, #wrapper.new_detail > .inner .txt_desp h2, #wrapper.new_detail > .inner .txt_desp strong {
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
}
#wrapper.new_detail > .inner .txt_desp ul {
  line-height: 24px;
  list-style: disc;
  margin-left: 30px;
}

#wrapper.appointment .inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 5%;
}
#wrapper.appointment .inner .list-item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
  overflow: hidden;
  overflow: scroll;
  flex-wrap: wrap;
  height: 650px;
  overflow-x: hidden;
}
#wrapper.appointment .inner .list-item .item {
  border: 1px solid #dddd;
  margin: 20px 0 0 20px;
}
#wrapper.appointment .inner .list-item .item .txt-content {
  border-bottom: 1px solid #dddd;
  padding: 25px;
  background: aliceblue;
}
#wrapper.appointment .inner .list-item .item .txt-content p {
  font-size: 14px;
  line-height: 25px;
}
#wrapper.appointment .inner .list-item .item .txt-content p.number {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}
#wrapper.appointment .inner .list-item .item .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dddd;
}
#wrapper.appointment .inner .list-item .item .button button {
  border: none;
  background: none;
  padding: 8px 15px;
}

.bill > .inner {
  max-width: 1200px;
  width: 88.88%;
  margin: 0 auto 80px;
  padding: 5% 30px 0;
}
.bill > .inner .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.bill > .inner .navbar .search {
  padding: 5px;
}
.bill > .inner .navbar .add {
  padding: 5px;
}
.bill > .inner .navbar .add .modal-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #297bc3;
  font-weight: 500;
}
.bill > .inner .search-bill {
  margin-bottom: 30px;
}
.bill > .inner .search-bill .ttl {
  font-size: 18px;
  text-transform: uppercase;
  color: #0c5886;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}
.bill > .inner .search-bill .container {
  padding: 40px 0;
  background-color: aliceblue;
}
.bill > .inner .search-bill .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bill > .inner .search-bill .container form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 60px;
  font-size: 14px;
  line-height: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}
.bill > .inner .search-bill .container form .form .name, .bill > .inner .search-bill .container form .form .status, .bill > .inner .search-bill .container form .form .number, .bill > .inner .search-bill .container form .form .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 50px 10px 0;
}
.bill > .inner .search-bill .container form .form .name input, .bill > .inner .search-bill .container form .form .status input, .bill > .inner .search-bill .container form .form .number input, .bill > .inner .search-bill .container form .form .date input {
  width: 340px;
  height: 40px;
}
.bill > .inner .list-bill .ttl {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #1b699d;
}
.bill > .inner .list-bill .list-item .table-bordered {
  text-align: center;
  font-size: 14px;
}
.bill > .inner .list-bill .list-item .table-bordered th {
  color: #fff;
}
.bill > .inner .list-bill .list-item .table-bordered tr,
.bill > .inner .list-bill .list-item .table-bordered th,
.bill > .inner .list-bill .list-item .table-bordered td {
  border: 1px solid #dddd;
}
.bill > .inner .list-bill .list-item .table-bordered thead {
  background-color: #3e8bbf;
}
.bill > .inner .list-bill .list-item .table-bordered td .modal-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #297bc3;
  font-weight: 500;
}
.bill > .inner .list-bill .list-item .table-bordered td button.detail, .bill > .inner .list-bill .list-item .table-bordered td button.edit, .bill > .inner .list-bill .list-item .table-bordered td button.check, .bill > .inner .list-bill .list-item .table-bordered td button.delete {
  border: none;
  background: none;
  outline: none;
}
.bill > .inner .list-bill .list-item .table-bordered td .modal-body form {
  text-align: left;
}

.bill-detail > .inner {
  max-width: 900px;
  width: 100%;
  margin: 70px auto;
  padding: 3% 3% 10% 3%;
  background: #f3f3f3;
}
.bill-detail > .inner .information {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bill-detail > .inner .information .logo {
  width: 160px;
  margin-right: 20px;
}
.bill-detail > .inner .information .info-detail {
  text-align: left;
}
.bill-detail > .inner .information .info-detail h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.bill-detail > .inner .information .info-detail p {
  font-size: 14px;
}
.bill-detail > .inner .container {
  margin-bottom: 60px;
}
.bill-detail > .inner .container .ttl-bill {
  margin-bottom: 5px;
}
.bill-detail > .inner .container .ttl-bill h1 {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
.bill-detail > .inner .container .ttl-bill p {
  text-align: center;
  font-size: 16px;
}
.bill-detail > .inner .container .number-bill {
  margin-bottom: 20px;
}
.bill-detail > .inner .container .number-bill p {
  font-size: 16px;
  text-align: right;
  font-weight: 600;
}
.bill-detail > .inner .container .info-customer {
  margin-bottom: 30px;
}
.bill-detail > .inner .container .info-customer p {
  font-size: 16px;
  margin-bottom: 3px;
}
.bill-detail > .inner .container .info-customer p span {
  font-weight: 600;
}
.bill-detail > .inner .container .table-bordered {
  font-size: 16px;
  text-align: center;
}
.bill-detail > .inner .container .table-bordered thead {
  background-color: #a5a8aa;
  font-weight: 600;
}
.bill-detail > .inner .container .table-bordered tr, .bill-detail > .inner .container .table-bordered th, .bill-detail > .inner .container .table-bordered td {
  border: 1px solid #dddd;
}
.bill-detail > .inner .container .total-cost p {
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}
.bill-detail > .inner .footer-bill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.bill-detail > .inner .footer-bill .customer p, .bill-detail > .inner .footer-bill .cashier p {
  font-size: 16px;
}

#wrapper.specialized > .inner {
  margin-bottom: 80px;
}
#wrapper.specialized > .inner .top_nav {
  -webkit-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  text-align: left;
  background-color: #fff;
  padding: 15px 20px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrapper.specialized > .inner .top_nav a {
  margin-right: 15px;
}
#wrapper.specialized > .inner .top_nav a i {
  font-size: 25px;
  color: black;
}
#wrapper.specialized > .inner .top_nav h3 {
  font-size: 22px;
  line-height: 30px;
}
#wrapper.specialized > .inner .list_item .item_content {
  padding: 20px;
  border-bottom: 1px solid #dddddd;
}
#wrapper.specialized > .inner .list_item .item_content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#wrapper.specialized > .inner .list_item .item_content a img {
  width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 110px;
  margin-right: 15px;
}
#wrapper.specialized > .inner .list_item .item_content a p {
  color: #000;
  font-size: 20px;
  line-height: 30px;
}
#wrapper.specialized > .inner .list_item .item_content:first-child {
  border-top: 1px solid #dddddd;
}

#wrapper.specialized_detail > .inner {
  margin: 0 auto 80px;
  padding-top: 6%;
}
#wrapper.specialized_detail > .inner .info_specialized {
  background: #fafafa;
  padding: 50px 120px;
  margin-bottom: 40px;
}
#wrapper.specialized_detail > .inner .info_specialized .ttl {
  margin-bottom: 30px;
}
#wrapper.specialized_detail > .inner .info_specialized .ttl h2 {
  font-size: 30px;
  line-height: 35px;
  text-align: left;
}
#wrapper.specialized_detail > .inner .info_specialized .txt_desp {
  text-align: left;
}
#wrapper.specialized_detail > .inner .info_specialized .txt_desp span {
  background-color: transparent !important;
}
#wrapper.specialized_detail > .inner .info_specialized .txt_desp strong {
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
}
#wrapper.specialized_detail > .inner .info_specialized .txt_desp ul {
  line-height: 24px;
  font-size: 16px;
  list-style: disc;
  margin-left: 30px;
}
#wrapper.specialized_detail > .inner .list-doctor {
  max-width: 1200px;
  margin: 0 auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#wrapper.specialized_detail > .inner .list-doctor .list_specialized {
  width: 65%;
}
#wrapper.specialized_detail > .inner .list-doctor .list_specialized .item_specialized {
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
  margin-bottom: 15px;
  list-style: none;
}
#wrapper.specialized_detail > .inner .list-doctor .list_specialized .item_specialized .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#wrapper.specialized_detail > .inner .list-doctor .list_specialized .item_specialized .container .info_doctor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#wrapper.specialized_detail > .inner .list-doctor .list_specialized .item_specialized .container .info_doctor .item_thumb {
  margin-right: 15px;
}
#wrapper.specialized_detail > .inner .list-doctor .list_specialized .item_specialized .container .info_doctor .item_thumb img {
  height: 130px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 130px;
  margin-bottom: 10px;
}
#wrapper.specialized_detail > .inner .list-doctor .list_specialized .item_specialized .container .info_doctor .item_thumb p a {
  font-size: 16px;
  color: #45c3d2;
  line-height: 20px;
}
#wrapper.specialized_detail > .inner .list-doctor .list_specialized .item_specialized .container .info_doctor .txt_desp {
  text-align: left;
  width: 66%;
}
#wrapper.specialized_detail > .inner .list-doctor .list_specialized .item_specialized .container .info_doctor .txt_desp h4 {
  font-size: 22px;
  color: #45c3d2;
  line-height: 30px;
}
#wrapper.specialized_detail > .inner .list-doctor .list_specialized .item_specialized .container .info_doctor .txt_desp .txt_info {
  font-size: 14px;
  color: #555858;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 3;
  height: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#wrapper.specialized_detail > .inner .list-doctor .list_specialized .item_specialized .container .info_doctor .txt_desp h2, #wrapper.specialized_detail > .inner .list-doctor .list_specialized .item_specialized .container .info_doctor .txt_desp h3 {
  display: none;
}
#wrapper.specialized_detail > .inner .list-doctor .container-list {
  width: 30%;
}
#wrapper.specialized_detail > .inner .list-doctor .container-list .ttl {
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  color: #404040;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
#wrapper.specialized_detail > .inner .list-doctor .container-list .ttl::after {
  display: block;
  position: absolute;
  bottom: -0.1875rem;
  left: 0;
  width: 5.625rem;
  height: 0.1875rem;
  content: "";
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #009688), color-stop(20%, #009688), to(#1de9b6)) !important;
  background: linear-gradient(90deg, #009688 0, #009688 20%, #1de9b6) !important;
}
#wrapper.specialized_detail > .inner .list-doctor .container-list .list .item {
  list-style: none;
  border-bottom: 1px solid #e7e7e7;
  padding: 15px 0;
}
#wrapper.specialized_detail > .inner .list-doctor .container-list .list .item a .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#wrapper.specialized_detail > .inner .list-doctor .container-list .list .item a .info .thumb {
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 155px;
  margin-right: 20px;
}
#wrapper.specialized_detail > .inner .list-doctor .container-list .list .item a .info p {
  font-size: 16px;
  color: #000;
}
#wrapper.specialized_detail > .inner .list-doctor .container-list .list .item:last-child {
  border-bottom: none;
}
