$base-font-family: "SVN Gilroy",sans-serif;
$ttl-font-family: "M PLUS 1p", sans-serif;

$breakpoint-pc: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;
$breakpoint-xsm: 360px;

$clr-base: #fff;
$clr-base-bg: #F2F6F7;
$clr-base-font: #404145;
$clr-shadow-gray: rgba( 90, 90, 90, .29 );
$clr-main: #4DA2E2;
$clr-icon: #FC952F;

$ease-inout: ease-in-out;
$ease-liner: linear;
$ease-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-cubic-out: cubic-bezier(0.915, 0.030, 0.910, 0.350);
